 <ion-toolbar>
  <ion-img src="/assets/icon/images.png" class="icon"></ion-img>
  <ion-title class="italic-title">Instagram</ion-title>
  <ion-img src="/assets/sharee.webp" class="badge-top-right"></ion-img>
</ion-toolbar>
<br>
<ion-content>
<div class="avatar-wrapper">
  <ion-avatar>
    <img src="assets/iconjk.jpg" class="avatar">
  </ion-avatar>
  <ion-avatar>
    <img src="assets/icon/icon5.jpg" class="avatar">
  </ion-avatar>
  <ion-avatar>
    <img src="assets/icon/icon4.jpg" class="avatar">
  </ion-avatar>
  <ion-avatar>
    <img src="assets/icon/icon3.jpg" class="avatar">
  </ion-avatar>
  <ion-avatar>
    <img src="assets/icon/icon2.jpg" class="avatar">
  </ion-avatar>
</div>
<br>
<ion-card>
<ion-item>
  
  <ion-avatar>
    <img src="assets/icon/icon1.jpg" alt="" class="di">
  </ion-avatar>
  <ion-text>
    <h6>v_layover</h6>
  </ion-text>
</ion-item>
<ion-img src="/assets/publi.jpg" class="fondo">
</ion-img>

<ion-item class="items">
  <ion-img src="/assets/imagets.png" alt="" class="icons"></ion-img>
  <ion-img src="/assets/slider.png" alt="" class="icosns"></ion-img>
  <ion-img src="/assets/image.png" alt="" class="ic"></ion-img>
</ion-item>
</ion-card>
<ion-item style="padding-top: 0;">
  <ion-avatar>
    <img src="/assets/icon/iconjh.jpg" class="kefla" alt="">
  </ion-avatar>
  <div style="display: flex; align-items: center; margin-top: 0;">
    <p style="font-size: 0.8rem;">yourarmyhope le ha dado me gusta</p>
  </div>
</ion-item>
<ion-item>
<ion-img src="/assets/home.webp" alt="" class="p"></ion-img>
<ion-img src="/assets/search.png" alt="" class="p"></ion-img>
<ion-img src="/assets/his.png" alt="" class="p"></ion-img>
<ion-img src="/assets/love.png" alt="" class="p"></ion-img>
<ion-avatar>
<img src="/assets/icon/yeontanicon.jpg" alt="" class="keflsa">
</ion-avatar>
</ion-item>
</ion-content> 